@font-face {
  font-family: 'Super Dream';
  src: url('/assets/font/Super-Dream.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
  color: var(--color-text);
  font-weight: 400;
  text-align: center;
  margin-inline: auto;
}

h1 {
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

body {
  font-family: var(--font-body);
}

.u-noscroll {
  overflow: hidden;
}


@keyframes swipe-down {

  0%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(10px);
    opacity: 0.8;
  }
}