@font-face {
  font-family: 'Super Dream';
  src: url('/assets/font/Super-Dream.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3{
  font-family: var(--font-title);
  color: var(--color-text);
  font-weight: 400;
  text-align: center;
  margin-inline: auto;
}

h1{
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

body{
  font-family: var(--font-body);
}

.cta{
  display: flex;
  margin: 0 auto;
  gap: 6px;
  height: 39px;
  width: 185px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--color-text);
  border-radius: 10px ;
  box-shadow: 0 -1px 9.9px 0 rgba(0, 0, 0, 0.86);
}

.cta__text{
  color: var(--color-base);
  font-weight:500px;
  font-size: var(--text-m);
  text-decoration: none;
}

.cta__arrow{
  width: 8px;
  height: 8px;
}

@keyframes swipe-down {

  0%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }

  0% {
    transform: translateY(10px);
    opacity: 0.8;
  }
}

