@font-face {
  font-family: 'Super Dream';
  src: url('/assets/font/Super-Dream.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3{
  font-family: var(--font-title);
  color: var(--color-text);
  font-weight: 400;
}