/* taille police */
:root {
  /* Mode 1 */
  /* number */
  --text-s: 0.6875rem;  /*11px*/
  --text-m: 0.8125rem; /*13px*/
  --text-l: 0.9375rem; /*15px*/
  --text-xl: 1.25rem; /*20px*/
  --text-2xl: 1.875rem; /*30px*/
  --text-3xl: 2.5rem; /*40px*/
}

/* Spaces */
:root {
  /* Mode 1 */
  /* number */
  --space-card: 1.125rem; /*18px*/
  --space-special: 2rem; /*32px*/
  --space-basic: 2.5rem; /*40px*/
  --space-menu: 3.125rem; /*50px*/
}

/* couleur */
:root {
  /* Mode 1 */
  /* color */
  --color-base: #2d9caf;
  --color-detail: #fbff24;
  --color-primary: #7bcedc;
  --color-text: #ffffff;
}

/* typographie */
:root {
  /* Mode 1 */
  /* string */
  --font-body: 'Poppins', sans-serif;
  --font-title: 'Super Dream', cursive;
}

