.header {
  position: sticky;
  height: 151px;
  margin-bottom: 0;
}

.header__nav {
  margin-inline: var(--space-special);
  margin-bottom: 0;
  position: relative;
  z-index: 100;
}

.header__nav[aria-expanded="true"] .logo-header {
  opacity: 0;
  visibility: visible;
  height: 0;
}

.header__btn {
  display: flex;
  justify-content: space-between;
  padding-top: var(--space-special);
}

.btn__left {
  display: flex;
  gap: 6px;
}

.btn__right {
  display: flex;
  gap: 6px;
}

.logo-header {
  width: 322.5px;
  height: 59.5px;
  aspect-ratio: 322.50/59.50;
  justify-content: center;
  margin-top: 36px;
  overflow: hidden;
}

.menu__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-menu);
}