.header {
  position: sticky;
  height: 151px;
  margin-bottom: 0;
}

.header__nav {
  height: 100%;
  margin-inline:var(--space-special);
  margin-bottom: 0;
}

.header__btn {
  display: flex;
  justify-content: space-between;
  padding-top: var(--space-special);
}

.btn__left {
  display: flex;
  gap: 6px;
}

.btn__right {
  display: flex;
  gap: 6px;
}

.logo-header {

  width: 322.5px;
  height: 59.5px;
  aspect-ratio: 322.50/59.50;
  justify-content: center;
  margin-top: 36px;
}