/* page index */

.section {
    margin-top: 80px;
}

.section__title {
    margin-bottom: 45px;
    max-width: 276px;
}

.card-prog__item {
    height: 167px;
    margin-bottom: 22px;
}

.item__img {
    width: 295px;
    height: 167px;
    border-radius: 35px;
    margin: 0 auto;
}

.item__text {
    margin-left: 68px;
    color: var(--color-text);
    padding-bottom: 10px;
    transform: translateY(-65px);
}

.img__name {
    text-align: start;
    color: var(--color-detail);
    margin-bottom: 0;
}

.cta__prog {
    margin-top: 44px;
}

.section__partners {
    margin-top: 47px;
}

.partner-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 23px;
}

.partner__card {
    margin: 0 auto;
    height: 70px;
    width: 120px;
    background-color: var(--color-primary);
}

.section__info {
    height:430px;
    margin-top:57px;
}

.info_item{
    gap: 14px;
}

.info__btn{
    display:flex;
    background: none;
    width: auto;
    gap: 11px;
    border:none;
    border-bottom: 1px solid #ffffff;
    margin-left: 40px;
}

.info__arrow{
    height: 8,5px;
    width: 15px;
    object-fit: contain;
}

.info__text {
    font-weight: 500;
    color:var(--color-text);
}

.info__content {
    margin-left: 59px;
    max-width: 286px;
    font-size: var(--text-m);
    color:var(--color-text);
    font-weight: 200;
}

/* page about */

.article{
    margin: 0 auto;
    max-width:276px;
    font-size: var(--text-m);
    font-weight: 200;
    color: var(--color-text);
}

/* page artiste */
.section__artist{
    height: 4049px;
}
.filters__wrapper {
    list-style: none;
}

.artist__list{
  margin-left: 31px;
}

.artist__card{
    height:255px;
    width: 332px;
    background-color: var(--color-text);
    margin-bottom: 40px;
}

.artist__img{
    height:153px;
    width: 291px;
    padding-inline: 20px;
    padding-top: 22px;
}

.artist__name{
    color: var(--color-base);
}