.hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0), var(--color-base)),
    url("/assets/img/hero/img-hero.avif");
  background-size: cover;
  margin-top: 0;
  height: 598px;
  z-index: -1;
  position: relative;
}

.hero__title {
  padding-top: 74px;
  width: 295px;
  height: 92px;
}

.cta__ticket {
  margin-top: 89px;
}

.swipe {
  margin-top: 75px;
  animation: swipe-down 1.5s ease-in-out infinite;
}

.swipe__text {
  text-align: center;
  width: 296px;
  height: 70px;
  text-shadow: 0 -1px 9.9px rgba(0, 0, 0, 0.86);
}

.swipe__arrow {
  margin: 0 auto;
  padding-top: 10px;
}

.hero__deco {
  width: 100%;
  position: absolute;
  pointer-events: none;
}