.hero {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0), var(--color-base)),
    url("/assets/img/hero/img-hero.avif");
  background-position: center;
  background-size: cover;
  height: 598px;
}

.hero__title {
  margin-top: 74px;
}


